{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.features "weight" }}
		{{ if eq (mod $index 2) 0 }}
		<div class="col-md-12">
            <div class="row">
		{{ end }}
				<div class="col-md-4 {{ if eq (mod $index 2) 1 }}col-md-offset-2{{ else }}col-md-offset-1{{ end }}">
                    <div class="box-simple">
                        {{ if isset . "icon" }}
                        <div class="icon">
                            <i class="{{ .icon }}"></i>
                        </div>
                        {{ else if isset . "image" }}
                        <div class="image" style="overflow:hidden">
                            {{ if .url }}<a href="{{ $.Site.BaseURL }}{{.url }}">{{ end }}
                            <img src="{{ .Site.BaseURL}}{{ .image }}" class="img-responsive" alt="" >
                            {{ if .url }}</a>{{ end }}
                        </div>
                        {{ end }}
                        <h3><a href="{{ $.Site.BaseURL}}{{ .url }}">{{ $element.name }}</a></h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
		{{ if or (eq (mod $index 2) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
