{{ $data := index .Site.Data.equipes (.Get 0) }}
{{ range $index, $element := $data.membres }}
  {{ if eq (mod $index 6) 0 }}
  <div class="row text-center">
  {{ end }}
    <div class="col-md-2 col-sm-3">
      <div class="team-member">
        <div class="image"><a href="team-member.html"><img src="{{ $.Page.Site.BaseURL }}{{ $element.photo }}" alt="" class="img-responsive img-circle"></a></div>
        <h3><a href="team-member.html">{{ $element.nom }}</a></h3>
        {{ if isset . "roles" }}
        <p class="role">
          {{ range $element.roles }}
          {{ . }}<br>
          {{ end }}
        </p>
        {{ end }}
      </div>
    </div>

  {{ if or (eq (mod $index 6) 6) (eq $index (sub (len $data.membres) 1 )) }}
  </div>
  {{ end }}
{{ end }}
